<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h3>Download file which includes text without trailing whitespace</h3>
  <form action="/nosp" method="get">
    <div class="form-group">
      <input type="text" name="text" class="form-control" placeholder="Text">
    </div>
    <button type="submit" class="btn btn-default">Download File</button>
  </form>
  <span>Do not open file, editor may add whitespace</span>
</div>

</body>
</html>

